<h1>Listing events</h1>

<table>
  <tr>
    <th><%= t('events.name') %></th>
    <th>Date</th>
    <th>People</th>
    <th>Local</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.start_date %> to <%= event.end_date %></td>
    <td><%= event.people.collect {|person| person.name }.join(',') %></td>
    <td><%= event.local %></td>
    <td><%= link_to t('general.show'), event %></td>
    <td><%= link_to t('general.edit'), edit_event_path(event) %></td>
    <td><%= link_to t('general.destroy'), event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('events.new_event'), new_event_path %>
